@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.header
	.header__top
		padding: 3px 0
		border-bottom: 1px solid #ebebeb
		.header__social
			a
				color: $text-dark
				text-decoration: none
				margin-right: 1em
		.header__form
			display: flex
			align-items: center
			position: relative
			justify-content: flex-end
			.header__form_text
				font-size: 14px
				margin-bottom: 0
				margin-right: 1em
				font-family: "QuicksandBold", serif
			.header__form_input
				font-size: 14px
				border-radius: 15px
				height: 28px
				padding-left: 10px
			.header__form_button
				height: 31px
				width: 31px
				border-radius: 50%
				background-color: #fc6c3f
				border: none
				outline: none
				position: absolute
				right: -3px
@import "media" // Always at the end
